body {
    background-color: darkslategrey
}

/*Div styles start here*/

#mainheader {

    width:100%;
    height:10vh;
    background-color: blue;
    margin-top: 10%;

}

#linkbox {

    width:20%;
    height:20vh;
    background-color: red;
    margin-top: 10%;

}

/*Text Styles start here*/

h1 {
    color: #607E7E;
    text-align: center;
}