body {
background-color: #1f2229;
}

input {
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #373e4b;
    width: 520px;
    height: 60px;
    border-radius: 10px;
    font-size: 25px;
    
    outline: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
}

.center:hover {
    background-color: #566f9e;
    transition: 0.3s;
}
/* classes go here */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: blueviolet;*/
    margin-top: 130px;
    flex-wrap: wrap-reverse;
    
}

.searchcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: blueviolet;*/
    margin-top: 20%;
}

.imagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    margin-top: 20%;
}

.center {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-basis: 300px;
    margin:auto;
    min-height: 0px;
    /*padding-left: 20px;*/
    /*background-color: #566f9e; on hover
   /* margin-top: 45vh;*/
    background-color: #373e4b;
    height: 250px;
    width: 250px;
    border-radius: 15px;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;

}


