body {
background-color: darkslategrey;
}

#search {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: cadetblue;
    width: 420px;
    height: 25px;
}

/* classes go here */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    margin-top: 450px;
    flex-wrap: wrap-reverse;
}

.center {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-basis: 300px;
    margin:auto;
    min-height: 0px;
    /*padding-left: 20px;*/
    background-color: beige;
   /* margin-top: 45vh;*/
    height: 250px;
    width: 250px;
}
